.nav-container {
  float: left;
  background-color: #28703c;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 15vw;
  color: white;
  font-size: 1.5rem;
}

.navlogo {
  max-width: 15vw;
}
.navbutton {
  max-width: 15vw;
  align-self: stretch;
}
