.button-group {
  margin: 2vw;
  width: 10vw;
}

.staffCard {
  background: #3e444a !important;
  margin: 10px;
  width: 50vw;
  align-items: stretch;
}
.staffCardHeader {
  background: #343a40 !important;
  align-items: stretch;
}

.staff-email-phone {
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
